<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.Page.DisplayTitle}} — periwiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
</head>
<body>
    <nav id="navbar">
        <a href="/" id="logo-link"><img id="logo" src="/static/logo.svg" alt="periwiki" /></a>
        <ul id="login-bar">
            {{ if and .User (ne .User.ScreenName "Anonymous") }}
                <li><a href="/profile/{{ pathEscape .User.ScreenName }}">{{.User.ScreenName}}</a></li>
                {{ if .User.IsAdmin }}<li><a href="/manage/users">Admin</a></li>{{ end }}
                <li><a href="/user/settings">Settings</a></li>
                <li><form method="POST" action="/user/logout"><button class="pw-logout-btn" type="submit">Logout</button></form></li>
            {{ else }}
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Register</a></li>
            {{ end }}
        </ul>
    </nav>
    <div id="flex-container">
        {{template "sidebar" . }}
        <div id="right-panel">
            {{template "content" . }}
        </div>
    </div>
    <div id="footer"><small class="pw-powered-by">Powered by <a href="https://github.com/danielledeleo/periwiki">periwiki</a></small></div>
</body>
</html>
