<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.Article.Title}} — iwikii</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
</head>
<body>
    <div id="flex-container">
        {{template "sidebar" .Sidebar }}
        <div id="right-panel">
            <div id="login-bar">
                {{$user := .Context.Value "User" }}
                {{ if and $user (ne $user.ScreenName "Anonymous") }}
                    <a href="/profile/{{ pathEscape $user.ScreenName }}">My Profile</a>
                    <a href="/user/settings">Settings</a>
                    <form method="POST" action="/user/logout"><button class="iw-logout-btn" type="submit">Logout</button></form>
                {{ else }}
                    <a href="/user/login">Login</a>
                    <a href="/user/register">Register</a>
                {{ end }}
            </div>
            {{template "content" . }}
        </div>
    </div>
    <div id="footer"><small class="iw-powered-by">Powered by <a href="https://github.com/jagger27/iwikii">iwikii</a></small></div>
</body>
</html>
