{{define "sidebar"}}
<div id="sidebar">
    <ul>
        <li><a href="/wiki/Main_Page">Main Page</a></li>
        <li><a href="/wiki/Special:Random">Random Page</a></li>
        <li><a href="/wiki/Special:Sitemap">Sitemap</a></li>
        <li class="pw-sidebar-title">Tools</li>
        <li><a href="#">Cite This Page</a></li>
    </ul>
    {{ if and .User .User.IsAdmin }}
    <ul>
        <li class="pw-sidebar-title">Admin</li>
        <li><a href="/manage/users">Manage users</a></li>
        <li><a href="/manage/settings">Settings</a></li>
        <li><a href="/manage/content">Content files</a></li>
    </ul>
    {{ end }}
</div>
{{end}}
