{{define "content"}}
<div id="article-area">
    <article>
        <h1>Sitemap</h1>
        <div class="pw-article-content">
            {{if .Entries}}
            <ul>
                {{range .Entries}}
                <li><a href="{{articleURL .Article.URL}}">{{.Article.DisplayTitle}}</a>{{if .TalkURL}} (<a href="{{articleURL .TalkURL}}">talk</a>){{end}}</li>
                {{end}}
            </ul>
            {{else}}
            <p>No articles found.</p>
            {{end}}
        </div>
    </article>
</div>
{{end}}
