:root {
    --link-color: #0645ad;
    --periwiki-purple: #a7aef9;
    --underline: #a2a9b1;
    --periwiki-grey: #9a9a9a;
    --periwiki-dark-grey: #555555;
    --periwiki-light-grey: #f6f6f6;
    --pw-deadlink-color: #bf3c2c;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--periwiki-light-grey);
    font-family: "Helvetica", sans-serif;
    line-height: 1.1em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* WikiLink to non-existent page (deadlink) */
a.pw-deadlink {
    color: var(--pw-deadlink-color);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0.75em 0 0.75em;
}

#navbar #logo-link {
    display: block;
    width: 140px;
    margin: 0 0.5em;
}

#navbar #logo {
    max-width: 12em;
    width: auto;
}

#flex-container {
    display: flex;
}

#login-bar {
    align-self: flex-start;
    text-align: right;
    font-size: .75em;
}

#login-bar a,
#login-bar .pw-logout-btn {
    display: inline-block;
    margin: 0 0 0 0.75em;
}

#login-bar form {
    display: inline;
}

#login-bar button.pw-logout-btn {
    display: inline-block;
    background: none;
    color: var(--link-color);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

#login-bar button.pw-logout-btn:hover {
    text-decoration: underline;
}

#sidebar {
    margin: 0 0.75em;
    padding: 0.5em;
    width: 140px;
    min-width: 140px;
}

#sidebar ul {
    margin: 0;
    padding: 0;

    font-size: .75em;
    list-style: none;
}

#sidebar ul li.pw-sidebar-title {
    width: 80%;
    margin: 0.4em 0;
    border-bottom: 1px solid var(--underline);
}

#right-panel {
    flex: 1;
    min-width: 0;
    overflow-x: hidden;
}

#article-area {
    flex: 1;
    min-width: 0;
    overflow-x: hidden;
}

#article-area ul.pw-tabs {
    display: flex;
    padding: 0;
    margin: 0 0 -1px 0;

    list-style: none;
    border-left: 1px solid var(--periwiki-purple);
}

#article-area ul.pw-tabs li {
    font-size: 0.8em;
    text-align: center;
    padding: 0.5em 0.8em 0.3em 0.8em;

    border-top: 1px solid var(--periwiki-purple);
    border-right: 1px solid var(--periwiki-purple);
}

#article-area ul.pw-tabs li.pw-active {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#article-area textarea#body-edit {
    display: block;
    width: 80%;
    min-height: 160px;
    height: 320px;
}

#article-area input#title-edit {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8em;
    font-weight: 400;
}

#article-area .pw-last-edited {
    font-size: 0.75em;
    color: var(--periwiki-grey);
    display: block;
}

article {
    padding: 20px 24px 24px 24px;
    background-color: #ffffff;
    border: 1px solid var(--periwiki-purple);
    border-right: none;
    line-height: 1.6;
}

article h1,
article h2 {
    line-height: 1.3em;
    margin: 0 0 .25em 0;
    overflow: hidden;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8em;
    font-weight: 400;
    border-bottom: 1px solid var(--underline);
}

article h2 {
    margin: 1em 0 .25em 0;
    font-size: 1.5em;
}

article section.footnotes {
    margin: 1em 0 0 0;
}

article section.footnotes p {
    margin: 0;
}

article section.footnotes hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid var(--underline);
}

article section.footnotes ol {
    margin-bottom: 0;
}

article section.footnotes .footnote-backlink {
    font-weight: bold;
}

article section.footnotes .footnote-letter {
    font-style: italic;
}

article div.pw-article-content > table {
    border-collapse: collapse;
    border-spacing: 0px;
}

article div.pw-article-content > table tr:nth-child(2n),
article div.pw-article-content > table thead {
    background-color: #f6f8fa;
}

article div.pw-article-content > table td,
article div.pw-article-content > table th {
    border: 1px solid #c6cbd1;
    padding: 0.4em 1em;
}

article pre {
    overflow: hidden;
    border: 1px solid var(--periwiki-purple);
    padding: 0.75em;
    background-color: #FBFBFB;
}

article .infobox {
    font-size: 0.95em;
    width: 14em;
    float: right;
    clear: right;
    margin: 0 0 0.75em 1.0em;
    padding: 0.3em;
    line-height: 1.1;
}

article .infobox h1,
article .infobox h2,
article .infobox h3 {
    margin: 0.25em 0;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    font-family: sans-serif;
}

article .infobox ul {
    margin: 0 0.5em 0 1em;
}

article .infobox p {
    margin: 0.25em 0;
}

article .infobox figure {
    margin: 0.5em 0;
}

article .infobox figure img {
    width: 100%;
}

article .infobox figure figcaption {
    text-align: center;
}

article #toc,
article .infobox {
    border: 1px solid var(--underline);
    background-color: #FBFBFB;
}

article #toc {
    padding: 0.3em 0.5em;
    display: inline-block;
    width: auto;
}

article #toc span {
    display: block;
    text-align: center;
}

article #toc ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

article #toc ol > li {
    display: table;
    counter-increment: item;
}

article #toc ol > li:before {
    content: counters(item, ".") " ";
    display: table-cell;
    padding-right: 0.6em;
}

article #toc li ol > li {
    margin: 0;
}

article #toc li ol > li:before {
    content: counters(item, ".") " ";
}

article code {
    font-family: "Andale Mono", "Consolas", monospace;
    font-size: 1em;
}

article code a {
    display: inline-block;
    width: 100%;
    color: black;
}

article code a:hover {
    text-decoration: none;
}

article pre.lineNumbers a::before {
    color: var(--periwiki-grey);
    content: attr(data-line-number) " ";
}

article ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}

article ul li {
    margin: 0 0 0.1em 0;
}

article pre:has(.pw-diff) {
    overflow-x: auto;
    max-width: 100%;
}

article .pw-diff {
    line-height: 1em;
}

article .pw-diff-info p {
    margin: 0.5em 0;
}

article .pw-diff-comment {
    color: var(--periwiki-dark-grey);
    font-style: italic;
    white-space: pre;
}

article.pw-preview {
    margin: 24px 0 0 0;
}

.pw-callout {
    width: 100%;
    display: inline-block;
    margin: 0.5em 0;
    padding: 10px;
    border: 1px solid;
}

.pw-green,
.pw-success {
    border-color: #8ed28e;
    background-color: #f4ffe2;
}

.pw-red,
.pw-error {
    border-color: #d28e8e;
    background-color: #ffe2e2;
}

.pw-blue,
.pw-info {
    border-color: #8ebfd2;
    background-color: #e2f7ff;
}

.pw-grey {
    border-color: #d7d7d7;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

#footer {
    text-align: center;
    margin: 1em 0;
    color: var(--periwiki-grey);
}

#footer small.pw-powered-by {
    font-size: 0.75em;
}

#footer .pw-powered-by .pw-heart {
    color: var(--periwiki-purple);
    font-size: 1.4em;
    margin: 0 0 0 1px;
    display: inline-block;
    transform: rotate(35deg);
}

/* ==========================================================================
   Responsive Styles
   ========================================================================== */

/* Tablet Breakpoint (768px) */
@media screen and (max-width: 768px) {
    /* Navbar: adjust for mobile, smaller logo */
    #navbar {
        width: auto;
        margin: 0.5em 0.75em;
        padding: 0;
    }

    #navbar #logo {
        max-width: 8em;
    }

    /* Stack layout vertically */
    #flex-container {
        flex-direction: column;
    }

    /* Hide sidebar */
    #sidebar {
        display: none;
    }

    /* Login bar: slightly larger font on tablet */
    #login-bar {
        font-size: 0.85em;
    }

    /* Tabs: keep left-justified, remove left border */
    #article-area ul.pw-tabs {
        border-left: none;
    }

    /* Article: Remove left/right borders, adjust padding */
    article {
        padding: 16px;
        border-left: none;
        border-right: none;
    }

    /* Infobox: Full width, stack above content */
    article .infobox {
        float: none;
        width: 100%;
        margin: 0 0 1em 0;
    }

    /* TOC: Full width */
    article #toc {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    /* Textarea: Full width */
    #article-area textarea#body-edit {
        width: 100%;
        box-sizing: border-box;
    }

    /* Tables: Horizontal scroll */
    article div.pw-article-content > table {
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    /* Code blocks: Horizontal scroll */
    article pre {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/* Mobile Breakpoint (480px) */
@media screen and (max-width: 480px) {
    /* Smaller tabs */
    #article-area ul.pw-tabs li {
        padding: 0.5em 0.4em 0.3em 0.4em;
        font-size: 0.75em;
    }

    /* Tighter article padding */
    article {
        padding: 12px;
    }

    /* Smaller headings */
    article h1 {
        font-size: 1.4em;
    }

    article h2 {
        font-size: 1.2em;
    }

    /* Edit form adjustments */
    #article-area textarea#body-edit {
        height: 200px;
        min-height: 120px;
    }

    #article-area input#title-edit {
        width: 100%;
        box-sizing: border-box;
        font-size: 1.4em;
    }

    /* Stack form table cells */
    article table td {
        display: block;
        width: 100%;
    }

    article table input[type="text"],
    article table input[type="password"] {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 0.5em;
    }
}
