{{define "content"}}
<div id="article-area">
    {{with .Article }}
    <ul class="iw-tabs">
        <li class="iw-active"><a href="/wiki/{{.URL}}">Article</a></li>
        <li><a href="/wiki/{{.URL}}/r/{{.ID}}/edit">Edit</a></li>
        <li><a href="/wiki/{{.URL}}/history">History</a></li>
    </ul>
    <article>
        <h1>{{.Title}}</h1>
        <div class="iw-article-content">
            {{.HTML}}
        </div>
    </article>
    <span class="iw-last-edited">Last edited on {{.Created.Format "January 2, 2006 at 3:04 pm"}}</span>
    {{end}}
</div>
{{end}}