{{define "content"}}
<div id="article-area">
    {{ with .Article }}
    <ul class="iw-tabs">
        <a href="/wiki/{{.URL}}"><li>Article</li></a>
        <a href="/wiki/{{.URL}}/r/{{.Hash}}/edit"><li class="iw-active">Edit</li></a>
        <a href="/wiki/{{.URL}}/history"><li>History</li></a>
    </ul>

    <article>
        <form action="/wiki/{{.URL}}/r/{{.Hash}}" method="POST">
        <input name="title" id="title-edit" type="text" value="{{.Title}}" />
        <div class="iw-article-content">
            <textarea name="body" id="body-edit">{{.Markdown}}</textarea>
            <input type="text" name="comment" placeholder="Describe your changes..."/>
            <button name="action" value="submit">Submit</button>
            <button name="action" value="preview">Preview</button>
        </div>
        </form>
    </article>
    {{ end }}
    {{ if .Other.Preview }}
    <article>
        This is a preview.
        <h1>{{.Article.Title}}</h1>
        <div class="iw-article-content">
            {{.Article.HTML}}
        </div>
    </article>
    {{ end }}
</div>
{{end}}