{{define "content"}}
<div id="article-area">
    {{with .Article}}
    <ul class="pw-tabs">
        <li><a href="/wiki/{{.URL}}">Article</a></li>
        <li class="pw-active"><a href="/wiki/{{.URL}}/history">History</a></li>
    </ul>
    <article>
        <h1>{{.Title}}</h1>
        {{end}}
        <div class="pw-article-content">
            <ul>
            {{range .Revisions}}
                <li>
                    <a href="/wiki/{{$.Article.URL}}/r/{{.ID}}">
                        {{ .Created.Format "2006, Jan _2 3:04 MST" }}
                    </a> by {{.Creator.ScreenName}} ({{.Markdown}} bytes) {{if .Comment}} ... 
                    <em>({{.Comment}})</em>{{end}}
                </li>
            {{end}}
            </ul>
        </div>
    </article>
</div>
{{end}}