{{define "content"}}
<div id="article-area">
    {{with .Article}}
    <ul class="pw-tabs">
        <li><a href="{{articleURL .URL}}">Article</a></li>
        <li class="pw-active"><a href="{{historyURL .URL}}">History</a></li>
    </ul>
    <article>
        <h1>{{.DisplayTitle}}</h1>
        {{end}}
        <div class="pw-article-content">
            <ul>
            {{range .Revisions}}
                <li>
                    <a href="{{revisionURL $.Article.URL .ID}}">
                        {{ .Created.Format "2006, Jan _2 3:04 MST" }}
                    </a> by {{.Creator.ScreenName}} ({{.Markdown}} bytes){{if .Comment}} ...
                    <em>({{.Comment}})</em>{{end}}{{if or (gt .PreviousID 0) (ne .ID $.CurrentRevisionID)}}
                    ({{if gt .PreviousID 0}}<a href="{{diffURL $.Article.URL .PreviousID .ID}}">diff</a>{{end}}{{if and (gt .PreviousID 0) (ne .ID $.CurrentRevisionID)}} | {{end}}{{if ne .ID $.CurrentRevisionID}}<a href="{{diffURL $.Article.URL .ID 0}}">curr</a>{{end}}){{end}}
                </li>
            {{end}}
            </ul>
        </div>
    </article>
</div>
{{end}}