{{define "content"}}
<div id="article-area">
    {{with .Article }}
    <ul class="pw-tabs">
        <li class="pw-active"><a href="{{articleURL .URL}}">Article</a></li>
        <li><a href="{{editURL .URL .ID}}">Edit</a></li>
        <li><a href="{{historyURL .URL}}">History</a></li>
    </ul>
    <article>
        <h1>{{.DisplayTitle}}</h1>
        <div class="pw-article-content">
            {{.HTML}}
        </div>
    </article>
    <span class="pw-last-edited">Last edited on {{.Created.Format "January 2, 2006 at 3:04 pm"}}</span>
    {{end}}
</div>
{{end}}