{{define "content"}}
<div id="article-area">
    {{ with .Article }}
    <ul class="pw-tabs">
        <li><a href="{{articleURL .URL}}">Article</a></li>
        <li class="pw-active"><a href="{{editURL .URL .ID}}">Edit</a></li>
        <li><a href="{{historyURL .URL}}">History</a></li>
    </ul>

    <article>
        <form action="{{articleURL .URL}}" method="POST">
        <input type="hidden" name="previous_id" value="{{.ID}}" />
        <input name="title" id="title-edit" type="text" value="{{.Title}}" />
        <div class="pw-article-content">
            <textarea name="body" id="body-edit">{{.Markdown}}</textarea>
            <input type="text" name="comment" placeholder="Describe your changes..." {{ if $.Other.Preview }}value="{{.Comment}}"{{end}}/>
            <button name="action" value="submit">Submit</button>
            <button name="action" value="preview">Preview</button>
        </div>
        </form>
    </article>
    {{ end }}
    {{ if .Other.Preview }}
    <article class="pw-preview">
        <div class="pw-callout pw-error">This is a preview. Nothing has been saved yet.</div>
        <h1>{{.Article.Title}}</h1>
        <div class="pw-article-content">
            {{.Article.HTML}}
        </div>
    </article>
    {{ end }}
</div>
{{end}}