{{define "content"}}
<div id="article-area">
    <ul>
        <a href="{{.URL}}"><li>Article</li></a>
        <a href="{{.URL}}?edit"><li class="iw-active">Edit</li></a>
    </ul>
    <article>
        <form action="{{.URL}}" method="POST">
        <input name="title" id="title-edit" type="text" value="{{.Title}}" />
        <div class="iw-article-content">
                <textarea name="body" id="body-edit">{{.Markdown}}</textarea>
                <button>Submit</button>
            </div>
        </form>
    </article>
</div>
{{end}}