{{define "content"}}
<div id="article-area">
    <article>
        <h1>Registration</h1>
        <div class="pw-article-content">
            {{ if .calloutMessage }}
            <div class="pw-callout {{ .calloutClasses }}">{{ .calloutMessage }}</div>
            {{ end }}
            <form class="pw-register-form {{ .formClasses }}" action="/user/register" method="POST">
                <table>
                    <tr>
                        <td><label for="screenname">Username</label></td>
                        <td><input type="text" name="screenname" placeholder="Username" {{if .screennameValue}} value="{{ .screennameValue }}" {{end}}></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input type="text" name="email" placeholder="Email address" {{if .emailValue}} value="{{ .emailValue }}" {{end}}></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input type="password" name="password"></td>
                    </tr>
                    <tr>
                        <td><button type="submit">Register</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </article>
</div>
{{end}}