$link-color: #0645ad;
$iwikii-purple: #a7aef9;
$underline: #a2a9b1;
$iwikii-grey: #9a9a9a;
    
body {
    // display: flex;
    margin: 0;
    padding: 0;

    background-color: #f6f6f6;
    font-family: sans-serif;
    line-height: 1.1em;
}

a {
    color: $link-color;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#flex-container {
    display: flex;
}

#login-bar {
    text-align: right;
    padding: 0.3em 0.8em 0 0;
    font-size: .75em;
    display: flex;
    justify-content: right;

    a, .iw-logout-btn {
        margin: 0 0 0 0.75em;
    }

    button.iw-logout-btn {
        background: none;
        color: $link-color;
        border:none; 
        padding: 0;
        font: inherit;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

#sidebar {
    margin: 0 0.75em;
    padding: 0.5em;
    width: 10em;

    ul {
        margin: 0;
        padding: 0;

        font-size: .75em;
        list-style: none;

        li.iw-sidebar-title {
            width: 80%;
            margin: 0.4em 0;
            border-bottom: 1px solid $underline;
        }
    }  
}

#article-area {
    padding: 18px 0 0 0;
    width: 100%;

    ul.iw-tabs {
        display: flex;
        padding: 0;
        margin: 0 0 -1px 0;

        list-style: none;
        border-left: 1px solid $iwikii-purple;
        li {
            // display: flex;
            font-size: 0.8em;
            text-align: center;
            padding: 0.5em 0.8em 0.3em 0.8em;

            border-top: 1px solid $iwikii-purple;
            border-right: 1px solid $iwikii-purple;
            
        }
        li.iw-active {
            background-color: #ffffff;
            border-bottom: 1px solid #ffffff;
        }
    }

    textarea#body-edit {
        display: block;
        width: 80%;
        min-height: 160px;
        height: 320px;
    }

    input#title-edit {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.8em;
        font-weight: 400;
    }
    .iw-last-edited {
        // text-align: center;
        font-size: 0.75em;
        color: $iwikii-grey;
        display: block;
    }
}

article {
    padding: 20px 24px 24px 24px;
    margin: 0 0 24px 0;

    background-color: #ffffff;
    border: 1px solid $iwikii-purple;
    border-right: none;
    line-height: 1.6;

    h1, h2 {
        line-height: 1.3em;
        margin: 0 0 .25em 0;

        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.8em;
        font-weight: 400;

        border-bottom: 1px solid $underline;
    }
    h2 {
        margin: 1em 0 .25em 0;
        font-size: 1.5em;
    }
    div.iw-article-content {
        font-size: 0.875em;
    }

    pre {
        border: 1px solid $iwikii-purple;
        padding: 0.75em;
        background-color: #FBFBFB;
    }
    code {
        font-family: "Andale Mono", "Consolas", monospace;
        font-size: 1em;
    }
    ul {
        margin: 0.3em 0 0 1.6em;
        padding: 0;
        li {
            margin: 0 0 0.1em 0;
        }
    }
}

.iw-callout {
    // width: 60%;
    display: inline-block;
    margin: 0.5em 0;
    padding: 10px;
    border: 1px solid;
}

.iw-green, .iw-success {
    border-color: #8ed28e;
    background-color: #f4ffe2;;
}

.iw-red, .iw-error {
    border-color: #d28e8e;
    background-color: #ffe2e2;
}

.iw-blue, .iw-info {
    border-color: #8ebfd2;
    background-color: #e2f7ff;
}

.iw-grey {
    border-color: #d7d7d7;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

#footer {
    text-align: center;
    margin: 1em 0;

    color: $iwikii-grey;

    small.iw-powered-by {
        font-size: 0.75em;
    }
    .iw-powered-by {        
        .iw-heart {
            
            color: $iwikii-purple;
            font-size: 1.4em;
            margin: 0 0 0 1px;
            display: inline-block;
            transform: rotate(35deg); 
        }
    }
}