$link-color: #0645ad;
$periwiki-purple: #a7aef9;
$underline: #a2a9b1;
$periwiki-grey: #9a9a9a;
$periwiki-light-grey: #f6f6f6;
    
body {
    margin: 0;
    padding: 0;

    background-color: $periwiki-light-grey;
    font-family: "Helvetica", sans-serif;
    line-height: 1.1em;
}

a {
    color: $link-color;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#flex-container {
    display: flex;
}

#login-bar {
    
    text-align: right;
    margin: 0.3em 0.8em 0 0;
    font-size: .75em;

    a, .iw-logout-btn {
        display: inline-block;
        margin: 0 0 0 0.75em;
    }
    form {
        display: inline;
    }
    button.iw-logout-btn {
        display: inline-block;
        background: none;
        color: $link-color;
        border:none; 
        padding: 0;
        font: inherit;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

#sidebar {
    margin: 0 0.75em;
    padding: 0.5em;
    width: 140px;
    min-width: 140px;

    ul {
        margin: 0;
        padding: 0;

        font-size: .75em;
        list-style: none;

        li.iw-sidebar-title {
            width: 80%;
            margin: 0.4em 0;
            border-bottom: 1px solid $underline;
        }
    }  
}

#right-panel {
    width: 100%;
}

#article-area {
    padding: 18px 0 0 0;
    width: 100%;

    ul.iw-tabs {
        display: flex;
        padding: 0;
        margin: 0 0 -1px 0;

        list-style: none;
        border-left: 1px solid $periwiki-purple;
        li {
            font-size: 0.8em;
            text-align: center;
            padding: 0.5em 0.8em 0.3em 0.8em;

            border-top: 1px solid $periwiki-purple;
            border-right: 1px solid $periwiki-purple;
            
        }
        li.iw-active {
            background-color: #ffffff;
            border-bottom: 1px solid #ffffff;
        }
    }

    textarea#body-edit {
        display: block;
        width: 80%;
        min-height: 160px;
        height: 320px;
    }

    input#title-edit {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.8em;
        font-weight: 400;
    }
    .iw-last-edited {
        font-size: 0.75em;
        color: $periwiki-grey;
        display: block;
    }
}

article {
    padding: 20px 24px 24px 24px;
    background-color: #ffffff;
    border: 1px solid $periwiki-purple;
    border-right: none;
    line-height: 1.6;

    h1, h2 {
        line-height: 1.3em;
        margin: 0 0 .25em 0;
        overflow: hidden;

        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.8em;
        font-weight: 400;
        border-bottom: 1px solid $underline;
    }
    h2 {
        margin: 1em 0 .25em 0;
        font-size: 1.5em;
    }

    section.footnotes {
        margin: 2em 0 0 0;
        font-size: 0.95em;
        p {
            margin: 0;
        }
        hr {
            border: 0;
            height: 0;
            border-bottom: 1px solid $underline;
        }
        ol {
            padding-left: auto !important;
            margin-bottom: 0;
        }
    }

    div.iw-article-content {
        font-size: 0.875em;
        > table {
            border-collapse: collapse;
            border-spacing: 0px;
            tr:nth-child(2n), thead {
                background-color: #f6f8fa;
            }
            td, th {
                border: 1px solid #c6cbd1;
                padding: 0.4em 1em;
            }
        }
    }

    pre {
        overflow: hidden;
        border: 1px solid $periwiki-purple;
        padding: 0.75em;
        background-color: #FBFBFB;
    }
    .infobox {
        h1, h2, h3 {
            margin: 0.25em 0;
            text-align: center;
            font-size: 1.1em;
            font-weight: bold;
            font-family: sans-serif;
        }
        font-size: 0.95em;
        width: 14em;
        float: right;
        clear: right;
        margin: 0 0 0.75em 1.0em;
        padding: 0.3em;
        line-height: 1.1;

        ul {
            margin: 0 0.5em 0 1em;
        }
        p {
            margin: 0.25em 0;
        }
        figure {
            margin: 0.5em 0;
            img {
                width: 100%;
            }
            figcaption {
                text-align: center;
            }
        }
    }
    #toc, .infobox {
        border: 1px solid $underline;
        background-color: #FBFBFB;
    }
    #toc {
        padding: 0.3em 0.5em;
        display: inline-block;
        width: auto;
        span {
            display: block;
            text-align: center;
        }

        ol {
            list-style-type: none;
            counter-reset: item;
            margin: 0;
            padding: 0;
        }
          
        ol > li {
            display: table;
            counter-increment: item;
        }
          
        ol > li:before {
            content: counters(item, ".") " ";
            display: table-cell;
            padding-right: 0.6em;    
        }
          
        li ol > li {
            margin: 0;
        }
          
        li ol > li:before {
            content: counters(item, ".") " ";
        }
    }

    code {
        font-family: "Andale Mono", "Consolas", monospace;
        font-size: 1em;
        a {
            display: inline-block;
            width: 100%;
            color: black;
        }
        a:hover {
            text-decoration: none;
        }
    }
    pre.lineNumbers {
        a::before {
            color: $periwiki-grey;
            content: attr(data-line-number) " ";
        }
    }
    ul {
        margin: 0.3em 0 0 1.6em;
        padding: 0;
        li {
            margin: 0 0 0.1em 0;
        }
    }
    .iw-diff {
        line-height: 1em;
    }
    .footnote-ref {
        sup::before {
            content: "["
        }

        sup::after {
            content: "]"
        }
    }
}
article.iw-preview {
    margin: 24px 0 0 0;
}
.iw-callout {
    width: 100%;
    display: inline-block;
    margin: 0.5em 0;
    padding: 10px;
    border: 1px solid;
}

.iw-green, .iw-success {
    border-color: #8ed28e;
    background-color: #f4ffe2;;
}

.iw-red, .iw-error {
    border-color: #d28e8e;
    background-color: #ffe2e2;
}

.iw-blue, .iw-info {
    border-color: #8ebfd2;
    background-color: #e2f7ff;
}

.iw-grey {
    border-color: #d7d7d7;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

#footer {
    text-align: center;
    margin: 1em 0;

    color: $periwiki-grey;

    small.iw-powered-by {
        font-size: 0.75em;
    }
    .iw-powered-by {        
        .iw-heart {
            
            color: $periwiki-purple;
            font-size: 1.4em;
            margin: 0 0 0 1px;
            display: inline-block;
            transform: rotate(35deg); 
        }
    }
}